<%= form_tag update_multiple_entries_path, method: :put do %>
  <% @entries.each do |entry| %>
    <%= fields_for "entries[]", entry do |f| %>
      <div class="form-group">
        <label><%= time_ago_in_words(entry.created_at) %> ago</label>
        <%= f.text_area :content, class:"form-control" %>
      </div>
    <% end %>
  <% end %>
  <%= submit_tag "Save" %>
<% end %>

<script>
  autosize($('textarea'));
</script>
